{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
{{ $cssImage := resources.Get .image }}
<section class="section pt-14" style="background-image: url('{{ $cssImage.RelPermalink }}');
                                          background-repeat: no-repeat;
                                          background-origin: border-box;
                                          background-position: center;
                                          background-size: cover;">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-7 mb-8 text-center bg-body dark:bg-darkmode-body rounded-lg" style="position: relative;">
        <div
          style="position: absolute; width: 75px; height: 75px; bottom: 0; right: 0;  transform: translate(50%, 50%);">
          {{ with resources.Get "images/german-medal.webp" }}
          <img src="{{ .RelPermalink }}" alt="">
          {{ end }}
        </div>
        <h1 class="mb-4 mt-4">
          {{ .title | markdownify }}
        </h1>
        <p class="mb-8">
          {{ .content | markdownify }}
        </p>
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary" href="{{ .link | absURL }}">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- Features -->
{{ range $i, $e:= .Params.features }}
<section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
  <div class="container">
    <div class="row items-center justify-between">
      {{ if .image }}
<div class="mb:md-0 {{ if not (modBool $i 2) }}
        md:order-2
      {{ end }} md:col-5 mb-6 rounded-lg" {{ with .neutralBackground }} {{ if . }}
  style="background-color: #555555;" {{ end }} {{ end }}>
  {{ partial "image" (dict "Src" .image "Alt" "feature image") }}
</div>
{{ end }}
      {{ $textCols := "md:col-7 lg:col-6" }}
{{ if not .image }}
  {{ $textCols = "col-12 text-center" }}
{{ end }}
<div class="{{ if not (modBool $i 2) }} md:order-1 {{ end }} {{ $textCols }}">
        <h2 class="mb-4">
          {{ .title | markdownify }}
        </h2>
  {{ with .subtitle }}
<h3 class="mb-4">
  {{ . | markdownify }}
</h3>
{{ end }}
        <p class="mb-8 text-lg">
          {{ .content | markdownify }}
        </p>
        <ul>
          {{ range .bulletpoints }}
          <li class="relative mb-4 pl-6">
            <i class="fa fa-check absolute left-0 top-1.5"></i>
            {{ . | markdownify }}
          </li>
          {{ end }}
        </ul>
  {{ with .contentAfter }}
<p class="mt-6 text-lg">
  {{ . | markdownify }}
</p>
{{ end }}
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Features -->

<!-- MainPartnerVideo -->
{{ with site.GetPage "sections/main-partner" }}
{{ if .Params.enable }}
<style>
  .responsive-youtube {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  .responsive-youtube iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
</style>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
        <h2 class="mb-4">
          {{ .Title | markdownify }}
        </h2>
        <p>
          {{ .Params.description | markdownify }}
        </p>
        {{ with resources.Get "images/partners/schnee.png" }}
        <img src="{{ .RelPermalink }}" alt="" class="max-w-sm mx-auto mt-4">
        {{ end }}
      </div>
      <div class="col-12">
        <div class="responsive-youtube">
          <iframe src="{{.Params.video}}" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /MainPartnerVideo-->


<!-- Testimonials -->
{{ with site.GetPage "sections/testimonial" }}
{{ if .Params.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
        <div class="flex flex-col justify-center items-center  lg:mr-5 space-y-1 flex-grow-0">
          <span class="text-3xl">Ausgezeichnet</span>
          <span class="stars-container">
            {{ range seq 1 .Params.review_overall }}
            <span class="review-star"></span>
            {{ end }}
          </span>
          <span class="text-center">Basierend auf <strong>{{.Params.review_count}} Bewertungen</strong></span>
          {{ $image := resources.Get "images/google.svg" }}
          <img src="{{ $image.RelPermalink }}" width="150" height="25" alt="Google" loading="lazy" decoding="async">
        </div>
      </div>
      <div class="col-12">
        <div class="swiper testimonial-slider">
          <div class="swiper-wrapper">
            {{ range $index, $testimonial := .Params.testimonials }}
            <div class="swiper-slide">
              <!-- ACTUAL REVIEW CARD -->
              <div class="flex flex-col mx-3 p-3 rounded bg-theme-light dark:bg-darkmode-theme-light shrink-0">
                <!-- Image, fullname, Google small logo -->
                <div class="flex flex-row items-center">
                  <div
                    class="flex justify-center items-center w-10 h-10 bg-purple-600 text-white text-2xl font-bold rounded-full">
                    <span class="block mx-auto select-none">{{ substr $testimonial.name 0 1 }}</span>
                  </div>
                  <div class="flex flex-col ml-2">
                    <div class="text-sm font-bold">{{ $testimonial.name }}</div>
                    <div class="text-sm">Kunde</div>
                  </div>
                  {{ $image := resources.Get "images/google-small.svg" }}
                  <img src="{{ $image.RelPermalink }}" width="20" height="20" alt="Google" loading="lazy"
                    decoding="async" class="ml-auto self-start">
                </div>
                <!-- Stars -->
                <div class="p-1">
                  {{ range seq 1 $testimonial.stars }}
                  <span class="review-star-sm"></span>
                  {{ end }}
                </div>
                <!-- Review Text -->
                <div class="text-xs">
                  <span>{{ $testimonial.content }}</span>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
          <div class="testimonial-slider-pagination mt-9 flex items-center justify-center text-center"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Testimonials -->

{{ end }}
